<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Reinforcement Learning Task</title>

  <!-- Load jquery and other libraries -->
  <script src="lib/jquery-min.js" type="text/javascript"></script>
  <script src="lib/underscore-min.js" type="text/javascript"></script>
  <script src="lib/backbone-min.js" type="text/javascript"></script>
  <script src="lib/d3.v3.min.js" type="text/javascript"> </script>

  <!-- Load jsPsych and plugins -->
  <script src="js/jspsych/jspsych.js" type="text/javascript"></script>
  <script src="js/jspsych/plugins/jspsych-instructions.js" type="text/javascript"></script>
  <script src="js/jspsych/plugins/jspsych-html-keyboard-response.js" type="text/javascript"></script>
  <script src="js/jspsych/plugins/jspsych-image-keyboard-response.js" type="text/javascript"></script>
  <script src="js/jspsych/plugins/jspsych-feedback-image-keyboard-response.js" type="text/javascript">
  </script>
  <script src="js/jspsych/plugins/jspsych-fullscreen.js" type="text/javascript"></script>

  <!-- Load stylesheets and other utils -->
  <script src="js/utils.js" type="text/javascript"> </script>
  <link rel="stylesheet" href="css/jspsych.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<script>
  // send call 
  console.log('sending call')

  function generateTimeline() {
    $.ajax({
      type: "GET",
      async: false,
      url: "/get_rlwmpst_trials.py",
      success: callbackFunc(),
      error: function () {
        console.log('there was an error')
        debugger
        alert("There was an error. Try again please!");
      }
    });
  }

  function callbackFunc() {
    // do something with the response
    console.log("success");
    console.log(timeline)

  }

  /* start the experiment */
  jsPsych.init({
    timeline: generateTimeline(),
    on_finish: function () {},
    show_preload_progress_bar: true,
    on_data_update: function (data) {},
    default_iti: 0,
  });
</script>

</html>