<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>RLWMPST</title>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-firestore.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <!-- Load jquery and other libraries -->
    <script src="lib/jquery-min.js" type="text/javascript"></script>
    <script src="lib/underscore-min.js" type="text/javascript"></script>
    <script src="lib/backbone-min.js" type="text/javascript"></script>
    <script src="lib/d3.v3.min.js" type="text/javascript"></script>

    <!-- Load jsPsych and plugins -->
    <script src="js/jspsych/jspsych.js" type="text/javascript"></script>
    <script
      src="js/jspsych/plugins/jspsych-instructions.js"
      type="text/javascript"
    ></script>
    <script
      src="js/jspsych/plugins/jspsych-html-keyboard-response.js"
      type="text/javascript"
    ></script>
    <script
      src="js/jspsych/plugins/jspsych-image-keyboard-response.js"
      type="text/javascript"
    ></script>
    <script
      src="js/jspsych/plugins/jspsych-feedback-image-keyboard-response.js"
      type="text/javascript"
    ></script>
    <script
      src="js/jspsych/plugins/jspsych-fullscreen.js"
      type="text/javascript"
    ></script>

    <!-- Load Qualtrics iFrame HTML -->
    <!-- <script src="js/qualtrics.js" type="text/javascript"></script> -->

    <!-- Load stylesheets and other utils -->
    <script src="js/utils.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/jspsych.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <script>
    // manually set firebase environment variable here
    var FIREBASE_ENV = false;

    // set web app's firebase config
    const firebaseConfig = {
      apiKey: "AIzaSyBElEjhQw7lqHBFr7l_1dks3BkZWDF-5hk",
      authDomain: "rlwmpst.firebaseapp.com",
      databaseURL: "https://rlwmpst.firebaseio.com",
      projectId: "rlwmpst",
      storageBucket: "rlwmpst.appspot.com",
      messagingSenderId: "371606684750",
      appId: "1:371606684750:web:8c1138f154bbaae68eaf1f",
      measurementId: "G-5Y56GL1T6C",
    };

    // Get a Firestore instance
    const db = firebase.initializeApp(firebaseConfig).firestore();

    const collectionName = "db_pilot_test";

    // Add data to db
    const createFirebaseDocument = (uniqueId) => {
      db.collection(collectionName).doc(uniqueId).set({
        uniqueId,
        dateCreated: new Date(),
      });
    };

    // create a document in the collection with a random id
    const createFirebaseDocumentRandom = () => {
      db.collection(collectionName).add({
        dateCreated: new Date(),
      });
    };

    const addToFirebase = (data) => {
      const uniqueId = data.uniqueId;
      db.collection(collectionName)
        .doc(uniqueId)
        .collection("data")
        .doc(`trial_${data.trial_index}`)
        .set(data);
    };

    // user ID collection
    // TO DO: add environment variable for MTURK/Prolific
    // and adjust ID extraction accordingly

    const baseStimulus = (element, prompt = false) => {
      const class_ = prompt ? "main-prompt" : "task-container";
      return `<div class=${class_}>${element}</div>`;
    };

    // get prolific Id by parsing URl
    // TO DO: getMTurkId
    const getProlificId = (data) => {
      const currWindowURL = window.location.href;
      console.log(currWindowURL); // url

      // function to parse URL and only get value of desired variables
      function getQueryVariable(variable) {
        let query = window.location.search.substring(1);
        let vars = query.split("&");
        for (let i = 0; i < vars.length; i++) {
          let pair = vars[i].split("=");
          if (decodeURIComponent(pair[0]) === variable) {
            return decodeURIComponent(pair[1]);
          }
        }
      }

      const prolificId = getQueryVariable("PROLIFIC_PID");
      console.log(prolificId);
      const uniqueId = `${prolificId}`;
      console.log(uniqueId);
      jsPsych.data.addProperties({
        uniqueId: uniqueId,
        timestamp: Date.now(),
      });
    };

    const userId = () => {
      return {
        type: "html-keyboard-response",
        stimulus: baseStimulus(`<h1>Collecting your Prolific ID...</h1>`, true),
        response_ends_trial: false,
        choices: jsPsych.NO_KEYS,
        trial_duration: 1000,
        on_finish: (data) => {
          getProlificId(data);
          console.log(data.uniqueId);
        },
      };
    };

    // call python script to generate task timeline
    const rlwmpst_trials = $.ajax("/get_rlwmpst_trials", {
      type: "GET",
      async: false,
      success: function () {
        console.log("Data successfully loaded.");
      },
    })["responseJSON"];

    // TO DO: prolific completion code URL redirection

    // append userId collection to beginning of timeline!
    rlwmpst_trials.unshift(userId());

    /* start the experiment */
    jsPsych.init({
      timeline: rlwmpst_trials,
      on_finish: function () {},
      show_preload_progress_bar: true,
      on_data_update: function (data) {
        console.log(data);

        if (data.trial_index === 1) {
          createFirebaseDocument(data.uniqueId);
          addToFirebase(data);
        }
        if (data.trial_index > 1) {
          addToFirebase(data);
        }
      },
      default_iti: 0,
    });
  </script>
</html>
